html, body
	font-family: Arial,serif

.controlls
	text-align: center
	margin-top: 200px

	div
		display: inline-block

.timeline

	.debug
		max-width: 1200px
		min-width: 200px
		width: 100%
		margin: 0 auto

	.wrap
		margin: 20px 0
		padding: 0
		position: relative

		span:first-child
			border-left: none

	.period
		margin: 35px auto
		float: left
		display: block
		box-sizing: border-box
		height: 7px
		background-color: #CCCCCC
		border-left: 1px solid #444444
		position: relative


.markers-home
	position: absolute
	height: 30px
	top: 0
	width: 100%

	.marker
		background-color: cornflowerblue

.markers-away
	position: absolute
	height: 30px
	bottom: 0
	width: 100%

.clearfix

	&::after
		zoom: 1
		clear: both
		content: ''
		display: block


.marker
	position: absolute
	height: 100%
	border-radius: 2px
	width: 4px
	background-color: red
	transform: translateX(-50%)

	&.counter
		width: auto
		text-align: center
		border-radius: 5px
		padding: 5px
		box-sizing: border-box
		color: white
		font-weight: bold
		border: 1px solid white

input, button
	border-radius: 5px
	border: 1px solid #cacaca
	padding: 5px
	margin: 5px

	&:focus
		outline: none

button
	border: none
	cursor: pointer
	background-color: #3a4874
	color: white
	transition: all .2s ease

	&:hover
		background-color: #445588